if ! has nix_direnv_version || ! nix_direnv_version 1.6.1; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/1.6.1/direnvrc" "sha256-aFwy76WtzXD7SVXWetpg+welXMZI/VcEUPQ2WUMXYSY="
fi
export TMV1_TOKEN="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJjaWQiOiI3MDVlZjdkMC01MTY3LTRlMTYtODQ0My03ZDJkYWQ4NDBlYzEiLCJjcGlkIjoic3ZwIiwicHBpZCI6ImN1cyIsIml0IjoxNjUzNTg2MjI2LCJ1aWQiOiIiLCJwbCI6IiIsImV0IjoxNjg1MTIyMjI2fQ.O2ajATans0pa6jGvOaNkv3QWGq-v9ocII4NJzly_nEwFDt2-d0B5lbvRwIxVW4uDd6jjkA4_zhZhbDD7iGi5G9K1m9IXNKMkbdyEO1ptJ3LdmsIErAc24-pQe6ywIN3JTFqmUD18WDBCcm2QwhMGv_W8IW95g41YMC1FSZhTx0cHCKCnd989eHBWuHOgWR8krRhK48X8Cf8wCCGJ1NMPUKbQnL0SeqLo_YaCFBCwolmWwXk3-NBJKMyeOL8Ax_TNKOF-miZvONi0p-tBYL5xVqg34ny6rUs-m9W6APBhpGpVb-03R7FTpr--XN6rUcjbxkvjhIj1W66XhjX6e5BWQlHxhxPTE-kGKwcPmeqbPDej9ynZPTibVHs3MMicJLjKATAoMc5cyoyqRgmcS06a9P256jWGRRUzA0BlhmLHdtEiaViQsm0EPvficPj3u2QQfxzpbhtH2h-6Gn_4-8IG5VYIQUPTgb2XbhZ0aNRL0SSJ0mIPhc_tudrMmpOhEwwKMlluxtQfObppEXQFVgowiiG_WGSaWMAvgfG1qUKzSE8T-AGA0x2px1gKEXDceAwkgSrH55egAmyilRQ1Fe3uSAFrd7WNkO7EZKq5AFcL96ExDWaK0bS46jm6X_Prf3FpuhsUB-BQiAhRKZrrBwmO5kAQuIIP2DtRQk6gn7l3l1U"
export NIXPKGS_ALLOW_UNFREE=1
use flake . --impure
